<div class="form-wrapper container">

  <div class="create-title">
    <h1>Create Story</h1>
  </div>
  <%= form_for @article do |f| %>
  　　<%= @msg %>

  <section class="main-article-form row">
    <div class="form-infoarea col-sm-4 col-xs-12">
    　 <p>
        <%= f.label :title %> 
        <%= f.text_field :title, placeholder: "Title" %>
      </p>
      <p>
    		<%= f.label :MainImage %>
    		<%= f.file_field :image %>
    	</p>
    	<p><%= f.label :from_date, '出発日' %>
         <%= raw sprintf(
          f.datetime_select(
             :from_date,# プロパティ名
            {
              start_year:     Time.zone.now.prev_year.year,# 選択可能な開始年
              end_year:       Time.zone.now.next_year.year,# 選択可能な終了年
              default:        Time.zone.now,# デフォルトの年
              use_two_digit_numbers: true,# 月日を2桁の値で表示
              date_separator: '%s',# 年, 月
              datetime_separator: '%s',# 日
              #time_separator: '%s'# 時
            },# オプション
            { class: 'date-select' }# htmlオプションを指定する場合は別で指定
          ),
          '年 ', '月 ', '日 ') #'時 ') + '分'# 分 は最後につけ加えられる
         %>
      	</p>

      	<p><%= f.label :to_date, '帰宅日' %>
         <%= raw sprintf(
          f.datetime_select(
             :to_date,# プロパティ名
            {
              start_year:     Time.zone.now.prev_year.year,# 選択可能な開始年
              end_year:       Time.zone.now.next_year.year,# 選択可能な終了年
              default:        Time.zone.now,# デフォルトの年
              use_two_digit_numbers: true,# 月日を2桁の値で表示
              date_separator: '%s',# 年, 月
              datetime_separator: '%s',# 日
              #time_separator: '%s'# 時
            },# オプション
            { class: 'date-select' }# htmlオプションを指定する場合は別で指定
          ),
          '年 ', '月 ', '日 ' )#'時 ')# + '分'# 分 は最後につけ加えられる
         %>
      	</p>
        <p>
          <%= f.label :price %>
          ￥<%= f.text_field :price, placeholder: "10000" %>
        </p>
    		<p>
    			<%= f.label :country %>
    			<%= f.text_field :country, placeholder: "日本" %>
    		</p>
    		<p>
    			<%= f.label :reion %>
    			<%= f.text_field :region, placeholder: "東京" %>
    		</p>
    		<p>
    			<%= f.label :safety_info %>
    			<%= f.text_field :safety_info, placeholder: "平和" %>
    		</p>
    		<p>
    			<%= f.label :travel_item %>
    			<%= f.text_field :travel_item, placeholder: "地図、etc" %>
    		</p>
      </div>

      <div class="form-bodyarea col-sm-8 col-xs-12">
        <p>
          <%= f.label :body %>
          <%= f.cktext_area :body %>
        </p>
        <p class="article-submit">
          <%= f.submit "Submit", class: "btn-success" %>
        </p>
      </div>
  </section>
  <% end %>
</div>