<header id="header" class="main-head">

  	<h1 class="main-title">Recueldo</h1>
      <p><% if user_signed_in? %>
          <%= link_to current_user.name, user_path(current_user.id) %>
          <% else %>
          <%= link_to "ログイン", new_user_session_path %>
         <% end %>
      </p>
    <nav class="head-nav-bar">
      <ul class="head-nav">
          <li><%= link_to "TOP", root_path %></li>
        <% if user_signed_in? %>
        	<li><%= link_to "Travels", articles_path %></li>
        	<li><%= link_to "Create Travel", new_article_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "My page", user_path(current_user.id) %></li>
        <% else %>
          <li><%= link_to "Travels", articles_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
      </ul>
    </nav>

  </header>