<%= render 'header' %>
<!-- 検索フォーム -->
<div class="form_group container">
  <%= search_form_for @search do |f| %>
    <p class="search-form">
      <%= f.label :country_eq, "タイトル検索" %>
      <%= f.text_field :country_eq, class: "form-control", placeholder: "国名" %>
    </p>

    <p class="search-form">
    	<%= f.label :region_cont, "地域で検索" %>
    	<%= f.text_field :region_cont, class: "form-control", placeholder: "地域名" %>
    </p>

    <p class="search-form">
      <%= f.label :price, "予算で検索" %>
      <%= f.text_field :price_lt, class: "form-control", placeholder: "¥" %>
    </p>

    <p class="search-btn">
    	<%= f.submit '検索', class: "btn btn-primary" %>
		<%= link_to 'クリア', url_for, class: "btn btn-default" %>
    </p>
	

  <% end %>
</div>


<!-- 一覧セクション -->
<div class="container col-md-12">
      <% @articles.each do |article| %>
         <div class="thumbnail col-md-3">
		       <%= link_to article_path(article.id) do %>
		        <%= image_tag article.image, class: "img", :alt => 'Lights', :width => '100%' %>
			       <% end %>
                <div class="caption">
                  <p class="index-title"> 
                   <%= link_to article.title, article_path(article.id), class: "index-title"%>
                  </p>
		            <div class="index-sub-title">
                <button class="btn warning"><%= link_to "さらに表示", article_path(article.id), class: "index-sub-title" %></button>
                  <i class="fa fa-heart"></i>
                  <%= article.likes.count %>
                </div> 
                </div>
          </div>
      <% end %>
 </div>

<div class="paginate col-md-12"><%= paginate @articles %></div>
