<%= render 'header' %>

<!-- 検索フォーム -->
<!-- <div class="form_group container">
  <%= search_form_for @search do |f| %>
    <p class="search-form">
      <%= f.label :country_eq, "タイトル検索" %>
      <%= f.text_field :country_eq, class: "form-control", placeholder: "国名" %>
    </p>

    <p class="search-form">
    	<%= f.label :region_cont, "地域で検索" %>
    	<%= f.text_field :region_cont, class: "form-control", placeholder: "地域名" %>
    </p>

    <p class="search-form">
      <%= f.label :price, "予算で検索" %>
      <%= f.text_field :price_lt, class: "form-control", placeholder: "¥" %>
    </p>

    <p class="search-btn">
    	<%= f.submit '検索', class: "btn btn-primary" %>
		<%= link_to 'クリア', url_for, class: "btn btn-default" %>
    </p>
	

  <% end %>
</div> -->

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" style="display: block;" data-target="#myModal">Open Search</button>

<!-- Modal -->
<%= search_form_for @search do |f| %>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <p class="search-form">
          <%= f.label :country_eq, "タイトル検索" %>
          <%= f.text_field :country_eq, class: "form-control", placeholder: "国名" %>
        </p>
     <!--  </div> -->
     <!--  <div class="modal-body"> -->
        <p class="search-form">
          <%= f.label :region_cont, "地域で検索" %>
          <%= f.text_field :region_cont, class: "form-control", placeholder: "地域名" %>
        </p>
      <!-- </div> -->
      <!-- <div class="modal-body"> -->
        <p class="search-form">
          <%= f.label :price_lt, "予算で検索" %>
          <%= f.text_field :price_lt, class: "form-control", placeholder: "￥" %>
        </p>
      </div>
      <div class="modal-footer">
        <!-- <p class="search-btn"> -->
          <%= f.submit '検索', class: "btn btn-primary" %>
          <%= link_to 'クリア', url_for, class: "btn btn-default" %>
        <!-- </p> -->
      </div>
    </div>

  </div>
</div>
<% end %>


<!-- 一覧セクション -->
<section class="iamges-sec">
	 <% @articles.each do |article| %>
   <div class="container index-article">
	   <div class="row">
		    　<div class="index-image col-md-5">
		      <%= link_to article_path(article.id) do %>
		        <%= image_tag article.image, class: "img"%>
			   <% end %>
		    　</div>
        <div class="col-md-7">
            <p>
              <%= article.title %>
             </p>
		         <p>
              <%= link_to "さらに表示", article_path(article.id) %>　
                <i class="fa fa-heart"></i>
              <span class="badge"><%= article.likes.count %></span>
            </p> 
        </div>
	    </div>
    </div>
	<% end %>
</section>

<div class="paginate"><%= paginate @articles %></div>
