<div class="form-sec">
	<%= form_for @article do |f| %>
		<p>
			<%= f.label :body %>
			<%= f.text_area :body %>
		</p>
		<p>
		<%= f.label :iamge %>
		<%= f.file_field :image %>
		</p>

		<p>
			<%= f.label :country %>
			<%= f.text_field :country %>
		</p>
		<p>
			<%= f.label :reion %>
			<%= f.text_field :region %>
		</p>
		<p>
			<%= f.label :safety_info %>
			<%= f.text_field :safety_info %>
		</p>
		<p>
			<%= f.label :travel_item %>
			<%= f.text_field :travel_item %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>