 
 <%= render 'header' %>
 <div class="show-sec">

<div class="container">
	<div class="show-img">
		<div class="thumbnail article_show_img">
		<%= image_tag @article.image, class: "article_show_img", :alt => 'Lights', :width => '100%' %>
			<div class="caption">
				<p class="article_show_name"><%= link_to @user.name, user_path(@article.user_id) %></p>
				<h2 class="article_show_title"><%= @article.title %></h2>
			</div>
		</div>
		<div class="container">
  			<div class="jumbotron">
				<h2>body</h2>
					<p><%= @article.body.html_safe %></p>

				<h2>出発日</h2>
					<p><%= @article.from_date %></p>

				<h2>Country</h2>
					<p><%= @article.country %></p>

				<h2>Reigon</h2>
					<p><%= @article.region %></p>

				<h2>Safety into</h2>
					<p><%= @article.safety_info %></p>

				<h2>Travel item</h2>
					<p><%= @article.travel_item %></p>

				<button class="btn warning"><%= link_to "Edit", edit_article_path(@article.id), class: "index-sub-title" %></button>

				<div id="like-buttons">
					<%= render 'likes/like', article: @article %>
				</div>
			</div>	
		</div>
	 </div>
</div>

<%= social_share_button_tag(@article.id) %>