<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTravelApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="header" class="main-head">
  	<h1>Free Team Travel App</h1>
  	<span><%= link_to "Travels", articles_path %></span>
  	<span><%= link_to "Create Travel", new_article_path %></span>

  </header><!-- /header -->
    <%= yield %>
  </body>
</html>
